{{ define "main" }}
{{ if (findRE "<pre" .Content 1) }}
    <script src="/site/layouts/_default/clipboard.js"></script>
{{ end }}



  <div class="mw6 center ph3 pv4">
    <h2 class="f3 lh-title b mb3">{{.Title}}</h2>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
      <p>ᴀᴅ- ᴄᴏɴᴛᴇɴᴛ ɪꜱ ꜱᴜʙᴊᴇᴄᴛ ᴛᴏ ᴄʜᴀɴɢᴇ ᴏʀ ʀᴇᴍᴏᴠᴀʟ ᴡɪᴛʜᴏᴜᴛ ɴᴏᴛɪᴄᴇ. ᴘʀᴏᴍᴏ ᴄᴏᴅᴇꜱ, ɪꜰ ᴀɴʏ, ᴍᴀʏ ᴇ𝔁ᴘɪʀᴇ ᴀᴛ ᴀɴʏ ᴛɪᴍᴇ. ɪ ᴅᴏ ɴᴏᴛ ᴏᴡɴ ᴛʜᴇ ʀɪɢʜᴛꜱ ᴛᴏ ᴀɴʏ ᴏꜰ ᴛʜᴇꜱᴇ ᴘʜᴏᴛᴏꜱ 𝓐𝓼 𝓪𝓷 𝓐𝓼𝓼𝓸𝓬𝓲𝓪𝓽𝓮, 𝓘 𝓮𝓪𝓻𝓷 𝓯𝓻𝓸𝓶 𝓺𝓾𝓪𝓵𝓲𝓯𝔂𝓲𝓷𝓰 𝓹𝓾𝓻𝓬𝓱𝓪𝓼𝓮𝓼</p>
    </div>
  </div>
{{ end }}
